absl-py==1.4.0
astor==0.8.1
beautifulsoup4==4.12.2
certifi==2021.5.30
charset-normalizer==2.0.12
dataclasses==0.8
filelock==3.4.1
gast==0.5.4
gdown==4.7.1
grpcio==1.48.2
idna==3.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
Markdown==3.3.7
numexpr==2.8.1
numpy==1.19.5
packaging==21.3
pandas==1.1.5
patsy==0.5.3
protobuf==3.19.6
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.27.1
scipy==1.5.4
six==1.16.0
soupsieve==2.3.2.post1
statsmodels==0.12.2
tables==3.7.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.18
Werkzeug==2.0.3
zipp==3.6.0
